:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-form-formrecaptcha {
  margin-bottom: 8px;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

a {
  color: #0a2633;
  text-align: center;
  vertical-align: baseline;
  font-family: Poppins bold, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.navbar {
  background-color: #0a2633;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: static;
}

.container {
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.section {
  background-color: #ececec;
  background-image: url('../images/tlo---prod.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.section.pol {
  background-image: none;
}

.text-block-3 {
  color: #0a2633;
  text-align: center;
  margin-bottom: 0;
  font-family: Poppins bold, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
}

.div-block-2 {
  margin-top: 40px;
}

.text-block-4 {
  color: #0a2633;
  text-align: center;
  font-family: Poppins medium, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 160%;
}

.form-block {
  justify-content: center;
  align-items: center;
  margin-top: 0;
  display: flex;
}

.field-label {
  color: #0a2633;
  margin-bottom: 0;
  font-family: Poppins semibold, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 35%;
}

.text-field {
  color: #8f8f8f;
  -webkit-text-stroke-color: #0a2633;
  border: 2px solid #0a2633;
  border-radius: 10px;
  width: 349px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Poppins regular, sans-serif;
  font-size: 16px;
  text-decoration: none;
  overflow: scroll;
}

.text-field.wiadomosc {
  z-index: auto;
  float: none;
  clear: none;
  text-align: left;
  word-break: normal;
  overflow-wrap: normal;
  height: 100px;
  text-decoration: none;
  position: relative;
  top: 0;
  overflow: visible;
}

.div-block-3 {
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
}

.form {
  flex-flow: column;
  flex: 0 auto;
  align-self: auto;
  width: 100%;
  display: flex;
}

.div-block-4 {
  margin-top: 5px;
}

.div-block-5 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.submit-button {
  color: #0a2633;
  text-align: center;
  background-color: #cdca4a;
  border-radius: 10px;
  align-self: center;
  width: 216px;
  margin-top: 30px;
  font-family: Poppins semibold, sans-serif;
  font-size: 15px;
  line-height: 160%;
  display: block;
  position: static;
  overflow: visible;
}

.submit-button:hover {
  background-color: #dfdc6a;
}

.text-block-6 {
  color: #0a2633;
  text-align: center;
  font-family: Poppins semibold, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 160%;
  display: block;
  position: absolute;
  top: -90px;
}

.text-span {
  font-family: Poppins bold, sans-serif;
  font-weight: 700;
}

.text-block-7 {
  color: #0a2633;
  text-align: left;
  flex-flow: column;
  width: 100%;
  font-family: Poppins medium, sans-serif;
  font-weight: 500;
  display: flex;
}

.text-span-2 {
  text-align: center;
}

.column {
  z-index: auto;
  background-color: #f5f1ea;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  flex-flow: column;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: relative;
}

.faq_answer-wrapper {
  margin-top: .8rem;
}

.link-block-4 {
  width: 80%;
  height: 100%;
  margin-left: 10%;
}

.padding-global {
  width: 90%;
  max-width: 64.875rem;
  margin-left: auto;
  margin-right: auto;
}

.padding-global.padding-section-large {
  width: 100%;
  max-width: 1160px;
  margin-bottom: 0;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 0;
}

.columns {
  z-index: 2;
  border: 3px solid #996d2b;
  border-radius: 10px;
  max-width: 1160px;
  margin-top: 0;
  padding: 30px;
  position: relative;
}

.columns.kontakt {
  padding: 0;
}

.text-field-2 {
  border: 2px solid #e6b54e;
  border-radius: 10px;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  font-size: 20px;
}

.text-field-2.bottom {
  padding-bottom: 200px;
}

.image-10 {
  margin-right: 30px;
}

.image-10.tel {
  margin-right: 34px;
}

.div-block-22 {
  height: 120px;
  position: relative;
}

.faq {
  background-color: #f5f1ea;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 90px;
  padding-bottom: 180px;
  display: flex;
}

.text-size-regular {
  color: #fffc;
  font-size: 1rem;
}

.faq_accordion {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  background-color: #996d2b;
  border: 1px solid #e7ddda;
  border-radius: 1.6rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 26px 1.6rem 26px 23px;
  display: flex;
}

.kontakt {
  margin-bottom: 30px;
}

.div-block {
  pointer-events: none;
  background-color: #996d2b40;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  max-width: 500px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.heading-15 {
  z-index: 2;
  margin-bottom: 50px;
  position: relative;
}

.faq_question {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  display: flex;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-weight-semibold.text-size-medium {
  color: #fff;
}

.faq_list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  place-items: start stretch;
  display: flex;
}

.field-label-2 {
  color: #e6b54e;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 23px;
}

.paragraph-9 {
  display: inline;
}

.icon-1x1-xxsmall {
  color: #fff;
  width: 1rem;
  height: 1rem;
}

.submit-button-2 {
  background-color: #996d2b;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 90px;
  padding: 13px 26px;
}

.faq_answer {
  flex: 0 auto;
  padding: 0;
  overflow: hidden;
}

.faq_header {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.paragraph-6 {
  margin-left: 70px;
  margin-right: 70px;
  font-size: 18px;
}

.flex-block {
  z-index: 2;
  position: relative;
}

.field-label-3 {
  color: #e6b54e;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 23px;
}

.faq_wrapper {
  grid-column-gap: 2.4rem;
  grid-row-gap: 2.4rem;
  border-radius: 2.4rem;
  flex-flow: column;
  padding: 0;
  display: flex;
}

.heading-14 {
  margin-top: 90px;
  margin-bottom: 30px;
  margin-left: 70px;
  font-size: 48px;
  font-weight: 500;
}

.paragraph-7 {
  display: inline;
}

.faq_icon {
  align-self: flex-start;
  margin-left: 0;
}

.link-block-5 {
  width: 100%;
  height: 100%;
}

.text-block-8 {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  inset: 40% 0 0%;
}

.text-block-8.pierwszy {
  text-align: center;
}

.form-2 {
  margin-left: 29px;
  margin-right: 70px;
}

.container-5 {
  z-index: 2;
  max-width: 1160px;
  padding-top: 0;
  position: relative;
}

.container-5.poczatek {
  padding-top: 234px;
}

.section-12 {
  background-color: #f5f1ea;
  margin-bottom: 0;
  padding: 90px 60px 180px;
  display: block;
}

.column-2 {
  background-color: #fff;
  border-left: 4px solid #996d2b;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 930px;
}

.column-2.kontakt {
  border-left-style: none;
  margin-bottom: 0;
}

.div-block-23 {
  border: 3px solid #000;
  border-radius: 10px;
}

.paragraph-8 {
  display: inline;
}

.image {
  z-index: 1;
  margin-top: -585px;
  margin-left: -353px;
  margin-right: 0;
  position: absolute;
  overflow: visible;
}

.link-block-6 {
  width: 80%;
  height: 100%;
  margin-left: 10%;
}

.div-block-24 {
  height: 120px;
  position: relative;
}

.div-block-25 {
  pointer-events: none;
  background-color: #996d2b40;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  max-width: 500px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.heading-16 {
  z-index: 2;
  margin-bottom: 50px;
  position: relative;
}

.field-label-4 {
  color: #e6b54e;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 23px;
}

.submit-button-3 {
  background-color: #996d2b;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 90px;
  padding: 13px 26px;
}

.paragraph-10 {
  margin-left: 70px;
  margin-right: 70px;
  font-size: 18px;
}

.heading-17 {
  margin-top: 90px;
  margin-bottom: 30px;
  margin-left: 70px;
  font-size: 48px;
  font-weight: 500;
}

.link-block-7 {
  width: 100%;
  height: 100%;
}

.text-block-9 {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  inset: 40% 0 0%;
}

.text-block-9.pierwszy {
  text-align: center;
}

.form-3 {
  margin-left: 29px;
  margin-right: 70px;
}

.container-6 {
  z-index: 2;
  max-width: 1160px;
  padding-top: 0;
  position: relative;
}

.container-6.poczatek {
  padding-top: 234px;
}

.section-13 {
  background-color: #f5f1ea;
  margin-bottom: 0;
  padding: 90px 60px 180px;
  display: block;
}

.column-5 {
  background-color: #fff;
  border-left: 4px solid #996d2b;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 930px;
}

.column-5.kontakt {
  border-left-style: none;
  margin-bottom: 0;
}

.div-block-26 {
  border: 3px solid #000;
  border-radius: 10px;
}

.image-11 {
  z-index: 1;
  margin-top: -585px;
  margin-left: -353px;
  margin-right: 0;
  position: absolute;
  overflow: visible;
}

.column-6 {
  z-index: auto;
  background-color: #f5f1ea;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  flex-flow: column;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: relative;
}

.div-block-27 {
  height: 120px;
  position: relative;
}

.div-block-28 {
  pointer-events: none;
  background-color: #996d2b40;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  max-width: 500px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.field-label-5 {
  color: #e6b54e;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 23px;
}

.submit-button-4 {
  background-color: #996d2b;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 90px;
  padding: 13px 26px;
}

.paragraph-11 {
  margin-left: 70px;
  margin-right: 70px;
  font-size: 18px;
}

.heading-19 {
  margin-top: 90px;
  margin-bottom: 30px;
  margin-left: 70px;
  font-size: 48px;
  font-weight: 500;
}

.link-block-8 {
  width: 100%;
  height: 100%;
}

.text-block-10 {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  inset: 40% 0 0%;
}

.text-block-10.pierwszy {
  text-align: center;
}

.form-4 {
  margin-left: 29px;
  margin-right: 70px;
}

.container-7 {
  z-index: 2;
  max-width: 1160px;
  padding-top: 0;
  position: relative;
}

.container-7.poczatek {
  padding-top: 234px;
}

.section-14 {
  background-color: #f5f1ea;
  margin-bottom: 0;
  padding: 90px 60px 180px;
  display: block;
}

.column-7 {
  background-color: #fff;
  border-left: 4px solid #996d2b;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 930px;
}

.column-7.kontakt {
  border-left-style: none;
  margin-bottom: 0;
}

.div-block-29 {
  border: 3px solid #000;
  border-radius: 10px;
}

.image-12 {
  z-index: 1;
  margin-top: -585px;
  margin-left: -353px;
  margin-right: 0;
  position: absolute;
  overflow: visible;
}

@media screen and (max-width: 991px) {
  .section {
    background-image: url('../images/tlo-mobilesmall.svg');
  }

  .div-block-5 {
    box-sizing: border-box;
    text-align: center;
    flex-flow: column;
    line-height: 150%;
    position: relative;
    inset: 0 0% 0%;
  }

  .submit-button {
    margin-top: 50px;
    font-weight: 600;
  }

  .text-block-6 {
    max-width: 600px;
    top: -120px;
  }

  .text-span {
    font-size: 12px;
  }

  .padding-global.padding-section-large {
    padding-top: 0;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding-left: 45px;
    padding-right: 45px;
  }

  .section {
    background-image: url('../images/tlo-mobilesmall.svg');
    background-position: 50%;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
  }

  .text-block-3 {
    font-size: 54px;
  }

  .text-block-4 {
    margin-top: 10px;
    font-size: 21px;
  }

  .div-block-5 {
    position: relative;
    bottom: 0;
  }

  .submit-button {
    margin-top: 50px;
  }

  .text-block-6 {
    max-width: 460px;
  }

  .faq {
    margin-top: 1234px;
  }

  .faq_question {
    padding: 1rem 1.25rem;
  }

  .faq_answer {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .faq_wrapper {
    padding: 1.6rem;
  }

  .faq_icon {
    width: 1.75rem;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .section {
    background-image: url('../images/tlo-mobilesmall.svg');
    background-position: 50%;
    padding-left: 0;
    padding-right: 0;
  }

  .text-block-3 {
    font-size: 32px;
  }

  .text-block-4 {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 140%;
  }

  .form-block {
    flex: 1;
  }

  .field-label {
    font-size: 18px;
  }

  .text-field {
    width: 270px;
    max-width: 350px;
    padding: 4px 6px;
    font-size: 14px;
  }

  .div-block-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .form {
    width: auto;
  }

  .div-block-5 {
    text-align: left;
    flex-flow: row;
    line-height: 100%;
  }

  .submit-button {
    margin-top: 70px;
  }

  .text-block-6 {
    max-width: 280px;
    top: -140px;
  }

  .padding-global.padding-section-large {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 6rem;
    padding-bottom: 3rem;
  }

  .heading {
    justify-content: center;
    align-items: center;
  }

  .faq_accordion {
    padding: 1.2rem;
  }

  .faq_header {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    justify-content: center;
    align-items: center;
  }

  .faq_wrapper, .heading-18 {
    justify-content: center;
    align-items: center;
  }
}


@font-face {
  font-family: 'Poppins bold';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins semibold';
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins regular';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins medium';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}